/** Globales */

@import "../../assets/estilos-sass/globales";

/** Perfil */

@import "../../assets/estilos-sass/perfil";

/** Noticias */

.news {
  width: 50%;
  background-color: $oscuro;
  color: $blanco;

  .news__item {
    padding: 0 75px 0 0;
    border-bottom: 3px solid #8841DA;
  }

  &__items {
    width: 80%;
    margin: 10% 0 0 20%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__title {
    @extend .perfil__nombre;
    font-size: 1rem;
    text-align: start;
  }

  &__subtitle {
    @extend .perfil__nombre;
    margin: 5px 0 0 0;
    color: $blanco;
    font-size: 1.3rem;
    text-align: start;
    font-weight: 500;
  }

  &__description {
    margin: 15px 0 20px 0;
    font-family: $fuente2;
    color: $gris;
  }
}

/** Noticias Media Query 300px and 399px*/

@media (min-width: 240px) and (max-width: 399px) {
  .news {
    width: 100%;

    .news__item {
      padding: 0 40px 0 0;
    }

    &__items {
      margin: 10% 0 25% 20%;
      gap: 4rem;
    }

    &__subtitle {
      font-size: 0.7rem;
    }

    &__description {
      font-size: 0.7rem;
    }
  }
}

/** Noticias Media Query 400px and 530px*/

@media (min-width: 400px) and (max-width: 530px) {
  .news {
    width: 100%;

    .news__item {
      padding: 0 80px 0 0;
    }

    &__items {
      margin: 10% 0 25% 20%;
      gap: 4rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }

    &__description {
      font-size: 1.2rem;
    }
  }
}

/** Noticias Media Query 530px and 899px*/

@media (min-width: 530px) and (max-width: 899px) {
  .news {
    width: 100%;

    .news__item {
      padding: 0 90px 0 0;
    }

    &__items {
      margin: 10% 0 20% 20%;
    }

    &__title {
      font-size: 1.1rem;
    }

    &__subtitle {
      font-size: 1.35rem;
    }

    &__description {
      font-size: 1.3rem;
    }
  }
}

/** Noticias Media Query 900px and 1215px*/

@media (min-width: 900px) and (max-width: 1215px) {
  .news {
    .news__item {
      padding: 0 100px 0 0;
    }

    &__items {
      margin: 15% 0 20% 20%;
    }

    &__title {
      font-size: 1.3rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }

    &__description {
      font-size: 1.25rem;
    }
  }

}
