body, html {
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for icons */

.footer__content__networks {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer__networks__icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;

    & li {
        margin: 0;
        cursor: pointer;
    }

    & a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 50%;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
    }

    & a:hover {
        background-color: grey;
    }
}

/* Styles for nav */

.footer_content_nav {
    display: flex;
    justify-content: center;
}

.footer__nav__items {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;

    & li {
        cursor: pointer;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    & a:hover {
        color: gray;
    }
}