/* Styles de la parte superior */

.container__section {
    margin: 3rem 10% 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    background-image: url("../../assets/images/fondo_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container__section__text {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    background-color: gainsboro;
    padding: 2rem 2rem;
    color: black;
}

.container__section__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section__image {
    max-width: 60%;
    height: auto;
    display: block;
}

/* Styles de la parte inferior */
/* Contenedor de entrada de datos*/

.container__section__form {
    margin: -1rem 10% 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #083f61;
}

.container__section__title {
    margin: 0;
    padding: 1rem;
}

.container__section__items {
    display: flex;
    margin-top: -0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.container__section__items__img {
    margin-top: 2rem;
}

.container__section__params {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__sections__items__param1,
.container__sections__items__param2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__items__param1__text,
.section__items__param2__text {
    margin-bottom: 0.5rem;
}

.section__items__param1__input,
.section__items__param2__input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section__items__param1__input::placeholder,
.section__items__param2__input::placeholder {
    font-size: 1rem;
    text-align: center;
    font-family: "";
}

.container__section__item__btn {
    margin-top: 2rem;
}

.section__items__btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}

.section__items__btn:hover {
    background-color: #02f40f;
}

.section__items__btn:focus {
    outline: none;
}

/* contenedor de texto de respuestas */

.container__answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container__answer__subtitle {
    display: flex;
    align-items: flex-start;
}

.container__answer__item__subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.container__answer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container__answer__item__text {
    font-size: 1.4rem;
    margin: 0px -10px;
}

/* contenedor de respuestas */

.container__section__answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.container__answer__inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

.section__answer__item__input {
    padding: 0.5rem;
    font-size: 1rem;
}